/* _content/ContactManager/Components/Component/AlphabetMenu.razor.rz.scp.css */

.container[b-cl72mef2xz] {
    display: flex;
    height: 100vh;
}

.alphabet-menu[b-cl72mef2xz] {
    background-color: #B8FF00; /* Verde Neon */
    padding: 20px;
    width: 60px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-height: 83vh; 
    overflow-y: auto; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    place-items: center;
}

    .alphabet-menu a[b-cl72mef2xz] {
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin: 10px 0;
        font-weight: bold;
    }

        .alphabet-menu a:hover[b-cl72mef2xz] {
            color: white;
        }

.contact-list[b-cl72mef2xz] {
    flex-grow: 1;
    padding: 20px;
    background-color: #181818;
}

    .contact-list h2[b-cl72mef2xz] {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .contact-list .contact[b-cl72mef2xz] {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

.contact img[b-cl72mef2xz] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-info[b-cl72mef2xz] {
    display: flex;
    flex-direction: column;
}

    .contact-info .name[b-cl72mef2xz] {
        font-weight: bold;
    }

    .contact-info .description[b-cl72mef2xz] {
        font-size: 0.9em;
        color: #b0b0b0;
    }


.alphabet-menu[b-cl72mef2xz]::-webkit-scrollbar {
    display: none; 
}

.alphabet-menu[b-cl72mef2xz] {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* _content/ContactManager/Components/Component/ContactItem.razor.rz.scp.css */
.name-cell[b-ax12llzae5] {
    display: flex;
    align-items: center;
}

    .name-cell img[b-ax12llzae5] {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        margin-right: 10px;
    }

.name-info[b-ax12llzae5] {
    display: flex;
    flex-direction: column;
}

    .name-info .name[b-ax12llzae5] {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .name-info .description[b-ax12llzae5] {
        font-size: 0.9em;
        color: #666;
    }

.item-center[b-ax12llzae5] {
    align-content: center;
}
/* _content/ContactManager/Components/Component/CRUD/CrudPopup.razor.rz.scp.css */
/* Estilo do overlay */
.overlay[b-d8jolyhn4t] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible; /* Inicialmente escondido */
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease;
}

/* Estilo do popup */
.popup[b-d8jolyhn4t] {
    background: rgb(27,27,27);
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease;
}

/* Cabeçalho do popup */
.popup-header[b-d8jolyhn4t] {
    padding: 10px;
    background-color: #b8ff00b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .popup-header h2[b-d8jolyhn4t] {
        margin: 0;
        font-size: 30px;
    }

    .popup-header .close-btn[b-d8jolyhn4t] {
        background: none;
        border: none;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }

/* Corpo do popup */
.popup-body[b-d8jolyhn4t] {
    padding: 15px;
    font-size: 16px;
    color: #333;
}

/* Rodapé do popup */
.popup-footer[b-d8jolyhn4t] {
    padding: 10px;
    text-align: right;
    background-color: rgb(27,27,27);
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

    .popup-footer button[b-d8jolyhn4t] {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .popup-footer .cancel-btn[b-d8jolyhn4t] {
        background-color: #d3d3d3;
        color: #333;
    }

    .popup-footer .save-btn[b-d8jolyhn4t] {
        background-color: #4CAF50;
        color: white;
    }

/* Mostrar o popup quando a classe active é adicionada */
.overlay.active[b-d8jolyhn4t] {
    visibility: visible;
    opacity: 1;
}

    .overlay.active .popup[b-d8jolyhn4t] {
        transform: scale(1);
    }
/* _content/ContactManager/Components/Component/CRUD/CrudPopupDelete.razor.rz.scp.css */
.txt[b-o6vjydrxo0] {
    color: white;
}

.edit-profile[b-o6vjydrxo0] {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 5px;
}

.profile-image img[b-o6vjydrxo0] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
}

.profile-details[b-o6vjydrxo0] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form-group[b-o6vjydrxo0] {
    margin-bottom: 20px;
}

    .form-group label[b-o6vjydrxo0] {
        font-size: 14px;
        color: #777;
        margin-bottom: 5px;
    }

.form-control[b-o6vjydrxo0] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    color: #b9b6b6;
    transition: border-color 0.3s ease;
}

    .form-control[b-o6vjydrxo0]::placeholder {
        color: #aaa;
        opacity: 1;
    }

    .form-control:focus[b-o6vjydrxo0] {
        border-bottom-color: #007bff; /* Cor da borda ao focar */
    }

button.btn-primary[b-o6vjydrxo0] {
    align-self: flex-start;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: lawngreen;
    color: rgb(27,27,27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    button.btn-primary:hover[b-o6vjydrxo0] {
        background-color: #66cc33; /* Tom mais escuro de verde */
        transform: scale(1.05); /* Pequeno efeito de zoom ao passar o mouse */
    }

    button.btn-primary:active[b-o6vjydrxo0] {
        transform: scale(0.98); /* Efeito de clique */
    }
/* _content/ContactManager/Components/Component/CRUD/CrudPopupFooter.razor.rz.scp.css */
/* Rodapé do popup */
.popup-footer[b-gc5iqo373g] {
    padding: 10px;
    text-align: right;
    background-color: rgb(27,27,27);
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

    .popup-footer button[b-gc5iqo373g] {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .popup-footer .cancel-btn[b-gc5iqo373g] {
        background-color: #d3d3d3;
        color: #333;
    }

    .popup-footer .save-btn[b-gc5iqo373g] {
        background-color: #4CAF50;
        color: white;
    }
/* _content/ContactManager/Components/Component/CRUD/CrudPopupHeader.razor.rz.scp.css */
/* Cabeçalho do popup */
.popup-header[b-3yg7pas2hx] {
    padding: 10px;
    background-color: #b8ff00b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .popup-header h2[b-3yg7pas2hx] {
        margin: 0;
        font-size: 30px;
    }

    .popup-header .close-btn[b-3yg7pas2hx] {
        background: none;
        border: none;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }
/* _content/ContactManager/Components/Component/POPUP/ContactCreatePopup.razor.rz.scp.css */
.txt[b-jy4egu347c] {
    color: white;
}

.edit-profile[b-jy4egu347c] {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 5px;
}

.profile-image img[b-jy4egu347c] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
}

.profile-details[b-jy4egu347c] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form-group[b-jy4egu347c] {
    margin-bottom: 20px;
}

    .form-group label[b-jy4egu347c] {
        font-size: 14px;
        color: #777;
        margin-bottom: 5px;
    }

.form-control[b-jy4egu347c] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    color: #b9b6b6;
    transition: border-color 0.3s ease;
}

    .form-control[b-jy4egu347c]::placeholder {
        color: #aaa;
        opacity: 1;
    }

    .form-control:focus[b-jy4egu347c] {
        border-bottom-color: #007bff; /* Cor da borda ao focar */
    }

button.btn-primary[b-jy4egu347c] {
    align-self: flex-start;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: lawngreen;
    color: rgb(27,27,27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    button.btn-primary:hover[b-jy4egu347c] {
        background-color: #66cc33; /* Tom mais escuro de verde */
        transform: scale(1.05); /* Pequeno efeito de zoom ao passar o mouse */
    }

    button.btn-primary:active[b-jy4egu347c] {
        transform: scale(0.98); /* Efeito de clique */
    }
/* _content/ContactManager/Components/Layout/Login.razor.rz.scp.css */
.full-width[b-yaz1qrsawj] {
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-container[b-yaz1qrsawj] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(10, 10, 10); /*linear-gradient(135deg, #f8b195, #6c5b7b, #355c7d);*/
    font-family: Arial, sans-serif;
}

.login-card[b-yaz1qrsawj] {
    display: flex;
    width: 800px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.left-panel[b-yaz1qrsawj], .right-panel[b-yaz1qrsawj] {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.left-panel[b-yaz1qrsawj] {
    background: rgb(27, 27, 27); /*linear-gradient(to top left, #ff9966, #ff5e62);*/
}

.right-panel[b-yaz1qrsawj] {
    background: linear-gradient(to top right, #B8FF00, #008334); /*linear-gradient(to top right, #00f260, #0575e6);*/
}

.toggle-button[b-yaz1qrsawj] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

h2[b-yaz1qrsawj] {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

h3[b-yaz1qrsawj] {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.input-group[b-yaz1qrsawj] {
    margin-bottom: 15px;
    width: 100%;
}

    .input-group input[b-yaz1qrsawj] {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border-radius: 10px;
        border: none;
        outline: none;
    }

.btn[b-yaz1qrsawj] {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

.btn-create-account[b-yaz1qrsawj] {
    background-color: #B8FF00;
    color: #333;
}
    .btn-create-account:hover[b-yaz1qrsawj] {
        background-color: #A8E000; /* Muda a cor de fundo ao passar o mouse */
    }

    .btn-create-account:active[b-yaz1qrsawj] {
        transform: scale(0.95); /* Diminui o botão ao clicar */
        background-color: #99D000; /* Muda a cor de fundo ao clicar */
    }

.btn-login[b-yaz1qrsawj] {
    background-color: rgb(27, 27, 27);
    color: white;     
}

    .btn-login:hover[b-yaz1qrsawj] {
        background-color: rgb(50, 50, 50); /* Muda a cor de fundo ao passar o mouse */
    }

    .btn-login:active[b-yaz1qrsawj] {
        transform: scale(0.95); /* Diminui o botão ao clicar */
        background-color: rgb(100, 100, 100); /* Muda a cor de fundo ao clicar */
    }

.options[b-yaz1qrsawj] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
    color: #ffffff;
    margin-top: 10px;
}

.social-icons[b-yaz1qrsawj] {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.icon[b-yaz1qrsawj] {
    font-size: 1.5em;
    cursor: pointer;
}
/* _content/ContactManager/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-rjjlgzxwvp] {
    position: relative;
    display: flex;
    flex-direction: column;
    
}

main[b-rjjlgzxwvp] {
    flex: 1;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(27,27,27), rgb(27,27,27));
    margin: 5px
}

.sidebar[b-rjjlgzxwvp] {
    /*background-color: rgb(17,17,17);*/
    background-color: transparent;
    
}


@media (max-width: 640.98px) {
    .top-row[b-rjjlgzxwvp] {
        justify-content: space-between;
    }

    .top-row[b-rjjlgzxwvp]  a, .top-row[b-rjjlgzxwvp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-rjjlgzxwvp] {
        flex-direction: row;
    }

    .sidebar[b-rjjlgzxwvp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-rjjlgzxwvp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-rjjlgzxwvp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-rjjlgzxwvp], article[b-rjjlgzxwvp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-rjjlgzxwvp] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-rjjlgzxwvp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ContactManager/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n00fjzqmrq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-n00fjzqmrq] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-n00fjzqmrq] {
    height: 3.5rem;
   
}

.navbar-brand[b-n00fjzqmrq] {
    font-size: 1.1rem;
}

.bi[b-n00fjzqmrq] {
    display: flex;
    position: relative;
    /*margin-right: 0.75rem;*/
    top: -1px;
    background-size: cover;
    font-size: 34px;
    align-items: center;
    align-content: center;

}

.nav-item[b-n00fjzqmrq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-n00fjzqmrq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-n00fjzqmrq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-n00fjzqmrq]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 20px;
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-n00fjzqmrq]  a.active {
        background-color: rgba(255,255,255,0.37);
        color: lawngreen;
    }

    .nav-item[b-n00fjzqmrq]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable[b-n00fjzqmrq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-n00fjzqmrq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-n00fjzqmrq] {
        display: none;
    }

    .nav-scrollable[b-n00fjzqmrq] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(89vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ContactManager/Components/Pages/ContactList.razor.rz.scp.css */
.topH[b-7hbkfsh5rw] {
    margin: 20px;
}
.topHR[b-7hbkfsh5rw] {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    /* align-content: center; */
    align-items: flex-end;
}

.texto[b-7hbkfsh5rw] {
    color: white;
}

.inpForm[b-7hbkfsh5rw] {
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    height: 50px;
}

.formCrud[b-7hbkfsh5rw] {
    height: 77vh;
    overflow-y: scroll;
    position: unset;
    margin: 25px;
}

    .formCrud[b-7hbkfsh5rw]::-webkit-scrollbar {
        width: 8px;
    }

    .formCrud[b-7hbkfsh5rw]::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .formCrud[b-7hbkfsh5rw]::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
.btn[b-7hbkfsh5rw] {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

.btn-Add[b-7hbkfsh5rw] {
    background-color: #B8FF00;
    color: #333;
    display: flex;
    align-items: center;
}

    .btn-Add:hover[b-7hbkfsh5rw] {
        background-color: #A8E000; /* Muda a cor de fundo ao passar o mouse */
    }

    .btn-Add:active[b-7hbkfsh5rw] {
        transform: scale(0.95); /* Diminui o botão ao clicar */
        background-color: #99D000; /* Muda a cor de fundo ao clicar */
    }
/* _content/ContactManager/Components/Pages/Home.razor.rz.scp.css */
.topH[b-kaevorxcvj] {
    margin: 20px;
}

.texto[b-kaevorxcvj] {
    color: white;
}

.inpForm[b-kaevorxcvj] {
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    height: 50px;
}

.formCrud[b-kaevorxcvj] {
    height: 77vh;
    overflow-y: scroll;
    position: unset;
    margin: 25px;
}
    
    .formCrud[b-kaevorxcvj]::-webkit-scrollbar {
        width: 8px;
    }

    .formCrud[b-kaevorxcvj]::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .formCrud[b-kaevorxcvj]::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
/* _content/ContactManager/Components/Pages/Profile.razor.rz.scp.css */
.txt[b-goimbr1nz9] {
    color: white;
}

.edit-profile[b-goimbr1nz9] {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 5px;
}

.profile-image img[b-goimbr1nz9] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
}

.profile-details[b-goimbr1nz9] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form-group[b-goimbr1nz9] {
    margin-bottom: 20px;
}

    .form-group label[b-goimbr1nz9] {
        font-size: 14px;
        color: #777;
        margin-bottom: 5px;
    }

.form-control[b-goimbr1nz9] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    color: #b9b6b6;
    transition: border-color 0.3s ease;
}

    .form-control[b-goimbr1nz9]::placeholder {
        color: #aaa;
        opacity: 1;
    }

    .form-control:focus[b-goimbr1nz9] {
        border-bottom-color: #007bff; /* Cor da borda ao focar */
    }

button.btn-primary[b-goimbr1nz9] {
    align-self: flex-start;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: lawngreen;
    color: rgb(27,27,27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    button.btn-primary:hover[b-goimbr1nz9] {
        background-color: #66cc33; /* Tom mais escuro de verde */
        transform: scale(1.05); /* Pequeno efeito de zoom ao passar o mouse */
    }

    button.btn-primary:active[b-goimbr1nz9] {
        transform: scale(0.98); /* Efeito de clique */
    }

