<!-- Menu lateral com as letras -->
<style>
    .container {
        display: flex;
        height: 100vh;
    }
    .alphabet-menu {
        background-color: #B8FF00; /* Verde Neon */
        padding: 20px;
        width: 60px;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        max-height: 83vh; /* Limita a altura da barra */
        overflow-y: auto; /* Adiciona rolagem vertical */
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        place-items: center;
    }
    .alphabet-menu a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin: 10px 0;
        font-weight: bold;
    }
    .alphabet-menu a:hover {
        color: white;
    }
    .contact-list {
        flex-grow: 1;
        padding: 20px;
        background-color: #181818;
    }
    .contact-list h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .contact-list .contact {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .contact img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
    }
    .contact-info .name {
        font-weight: bold;
    }
    .contact-info .description {
        font-size: 0.9em;
        color: #b0b0b0;
    }

    /* Adicionando um estilo de barra de rolagem mais discreta */
    .alphabet-menu::-webkit-scrollbar {
        display: none; /* Oculta a barra de rolagem no Webkit (Chrome, Safari) */
    }

    .alphabet-menu {
        -ms-overflow-style: none; /* Oculta a barra no Internet Explorer e Edge */
        scrollbar-width: none; /* Oculta a barra no Firefox */
    }
</style>
<div class="alphabet-menu col-md-1">
    <a href="#A">A</a>
    <a href="#B">B</a>
    <a href="#C">C</a>
    <a href="#D">D</a>
    <a href="#E">E</a>
    <a href="#F">F</a>
    <a href="#G">G</a>
    <a href="#H">H</a>
    <a href="#I">I</a>
    <a href="#J">J</a>
    <a href="#K">K</a>
    <a href="#L">L</a>
    <a href="#M">M</a>
    <a href="#N">N</a>
    <a href="#O">O</a>
    <a href="#P">P</a>
    <a href="#Q">Q</a>
    <a href="#R">R</a>
    <a href="#S">S</a>
    <a href="#T">T</a>
    <a href="#U">U</a>
    <a href="#V">V</a>
    <a href="#W">W</a>
    <a href="#X">X</a>
    <a href="#Y">Y</a>
    <a href="#Z">Z</a>
</div>
@code {

}
