@page "/"
@rendermode InteractiveServer
@using ContactManager.Services


<PageTitle>Contact Manager</PageTitle>
<div class="topH row ">
    <div class="texto col-6">
        <h1>Lista de contatos</h1>
    </div>
    <div class="texto col-6" style="text-align: right;">
        <input class="inpForm" type="text" placeholder="🔎 Pesquisar" @bind-value="@filter" @bind-value:event="oninput" />
    </div>
</div>
<div class="row" style="margin:10px;">
    <AlphabetMenu></AlphabetMenu>
    <div class="col-md-11 formCrud">
        @if (Contacts != null)
        {
            <CrudTable columns="1" headers="@headers" itemList="@Contacts" styleheight="height: 58vh;">
                <itemRenderFragment Context="item">
                    @if (Show(item))
                    {
                        <ContactItem item="item" Remove="Remove" />
                    }
                </itemRenderFragment>
            </CrudTable>
        }
    </div>
</div>

@code {
    private List<string> headers;
    private string filter = "";
    private string filter2 = "";
    protected override async Task OnInitializedAsync()
    {
        headers = new()
        {
            "Name",
            "Phone",
            "Email",
            ""
        };
    }
    private ContactSettings item;
    private List<ContactSettings> Contacts = new List<ContactSettings>
    {
        new ContactSettings{Image = "Mikael", Name = "Mikael", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho"},
        new ContactSettings{Image = "Camila", Name = "Camila", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Escola" },
        new ContactSettings{Image = "Nami", Name = "Nami", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Colega" },
        new ContactSettings{Image = "Sanji", Name = "Sanji", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho" },
        new ContactSettings{Image = "Mikael", Name = "Mikael", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho"},
        new ContactSettings{Image = "Camila", Name = "Camila", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Escola" },
        new ContactSettings{Image = "Nami", Name = "Nami", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Colega" },
        new ContactSettings{Image = "Sanji", Name = "Sanji", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho" },
        new ContactSettings{Image = "Mikael", Name = "Mikael", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho"},
        new ContactSettings{Image = "Camila", Name = "Camila", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Escola" },
        new ContactSettings{Image = "Nami", Name = "Nami", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Colega" },
        new ContactSettings{Image = "Sanji", Name = "Sanji", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho" },
        new ContactSettings{Image = "Mikael", Name = "Mikael", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho"},
        new ContactSettings{Image = "Camila", Name = "Camila", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Escola" },
        new ContactSettings{Image = "Nami", Name = "Nami", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Colega" },
        new ContactSettings{Image = "Sanji", Name = "Sanji", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho" },
        new ContactSettings{Image = "Mikael", Name = "Mikael", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho"},
        new ContactSettings{Image = "Camila", Name = "Camila", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Escola" },
        new ContactSettings{Image = "Nami", Name = "Nami", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Colega" },
        new ContactSettings{Image = "Sanji", Name = "Sanji", Phone = "(11) 5148-4123",Email="Teste@gmail.com", Description="Trabalho" }
    };

    private async Task Remove(ContactSettings _item)
    {
        item = _item;
        CommitRemove(item);
    }

    private async Task CommitRemove(ContactSettings item)
    {

    }

    private bool Show(ContactSettings item)
    {
        if (filter?.Length > 0)
        {
            string fields = $"{item.Name}";
            return fields.ToLower().Contains(filter.ToLower());
        }
        else
        {
            return true;
        }
    }
}