@page "/setting"
@using System.Diagnostics
@rendermode InteractiveServer
<PageTitle>Setting</PageTitle>

<div class="topH row ">
    <div class="txt col-6">
        <h1>Configuração</h1>
    </div>
    <div class="texto col-6" style="text-align: right;">
        <a href=""><ion-icon name="arrow-undo" style="color:lawngreen; font-size: 40px;"></ion-icon></a>
    </div>
</div>

@code{

}
