/* Cabeçalho do popup */
.popup-header {
    padding: 10px;
    background-color: #b8ff00b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .popup-header h2 {
        margin: 0;
        font-size: 30px;
    }

    .popup-header .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }
