@typeparam ItemType

<div class="overlay" id="popupOverlay">
    <div class="popup">
        <!-- Cabeçalho do popup -->
        <div class="popup-header">
            <CrudPopupHeader Title="@Title" ClosePopup="ClosePopup" />
        </div>

        <!-- Corpo do popup -->
        <div class="popup-body">
            @BodyRenderFragment(Body)
        </div>

        <!-- Rodapé do popup -->
        <div class="popup-footer">            
            <CrudPopupFooter ClosePopup="ClosePopup" TypePopup="@TypePopup" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public ItemType Body { get; set; }

    [Parameter]
    public RenderFragment<ItemType> BodyRenderFragment { get; set; }

    [Parameter]
    public string TypePopup { get; set; }

    [Parameter]
    public EventCallback ClosePopup { get; set; }



}
