@rendermode InteractiveServer

<div class="row edit-profile">
    <div class="profile-details col-6">
        <div class="form-group">
            <label class="txt">@Mensage</label>           
        </div>        
    </div>
</div>

@code {
    [Parameter]
    public string Mensage { get; set; }
}

